src/main/resources/wsdl/WSCurriculo.wsdl

<definitions name='WSCurriculo' targetNamespace='http://ws.servico.repositorio.cnpq.br/' xmlns='http://schemas.xmlsoap.org/wsdl/' xmlns:soap='http://schemas.xmlsoap.org/wsdl/soap/' xmlns:tns='http://ws.servico.repositorio.cnpq.br/' xmlns:xsd='http://www.w3.org/2001/XMLSchema'>
 <types></types>
 <message name='WSCurriculo_getOcorrenciaCVPorUsuarioResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getCurriculoCompactadoPorUsuarioResponse'>
  <part name='return' type='xsd:base64Binary'></part>
 </message>
 <message name='WSCurriculo_getCurriculoCompactadoPorUsuario'>
  <part name='id' type='xsd:string'></part>
  <part name='login' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getIdentificadorCNPqResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getOcorrenciaCV'>
  <part name='id' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getOcorrenciaCVResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getDataAtualizacaoCVPorUsuario'>
  <part name='id' type='xsd:string'></part>
  <part name='login' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getCurriculoCompactado'>
  <part name='id' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getIdentificadorCNPqPorUsuario'>
  <part name='cpf' type='xsd:string'></part>
  <part name='nomeCompleto' type='xsd:string'></part>
  <part name='dataNascimento' type='xsd:string'></part>
  <part name='login' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getDataAtualizacaoCVPorUsuarioResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getIdentificadorCNPqPorUsuarioResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getDataAtualizacaoCVResponse'>
  <part name='return' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getIdentificadorCNPq'>
  <part name='cpf' type='xsd:string'></part>
  <part name='nomeCompleto' type='xsd:string'></part>
  <part name='dataNascimento' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getDataAtualizacaoCV'>
  <part name='id' type='xsd:string'></part>
 </message>
 <message name='WSCurriculo_getCurriculoCompactadoResponse'>
  <part name='return' type='xsd:base64Binary'></part>
 </message>
 <message name='WSCurriculo_getOcorrenciaCVPorUsuario'>
  <part name='id' type='xsd:string'></part>
  <part name='login' type='xsd:string'></part>
 </message>
 <portType name='WSCurriculo'>
  <operation name='getCurriculoCompactado' parameterOrder='id'>
   <input message='tns:WSCurriculo_getCurriculoCompactado'></input>
   <output message='tns:WSCurriculo_getCurriculoCompactadoResponse'></output>
  </operation>
  <operation name='getCurriculoCompactadoPorUsuario' parameterOrder='id login'>
   <input message='tns:WSCurriculo_getCurriculoCompactadoPorUsuario'></input>
   <output message='tns:WSCurriculo_getCurriculoCompactadoPorUsuarioResponse'></output>
  </operation>
  <operation name='getDataAtualizacaoCV' parameterOrder='id'>
   <input message='tns:WSCurriculo_getDataAtualizacaoCV'></input>
   <output message='tns:WSCurriculo_getDataAtualizacaoCVResponse'></output>
  </operation>
  <operation name='getDataAtualizacaoCVPorUsuario' parameterOrder='id login'>
   <input message='tns:WSCurriculo_getDataAtualizacaoCVPorUsuario'></input>
   <output message='tns:WSCurriculo_getDataAtualizacaoCVPorUsuarioResponse'></output>
  </operation>
  <operation name='getIdentificadorCNPq' parameterOrder='cpf nomeCompleto dataNascimento'>
   <input message='tns:WSCurriculo_getIdentificadorCNPq'></input>
   <output message='tns:WSCurriculo_getIdentificadorCNPqResponse'></output>
  </operation>
  <operation name='getIdentificadorCNPqPorUsuario' parameterOrder='cpf nomeCompleto dataNascimento login'>
   <input message='tns:WSCurriculo_getIdentificadorCNPqPorUsuario'></input>
   <output message='tns:WSCurriculo_getIdentificadorCNPqPorUsuarioResponse'></output>
  </operation>
  <operation name='getOcorrenciaCV' parameterOrder='id'>
   <input message='tns:WSCurriculo_getOcorrenciaCV'></input>
   <output message='tns:WSCurriculo_getOcorrenciaCVResponse'></output>
  </operation>
  <operation name='getOcorrenciaCVPorUsuario' parameterOrder='id login'>
   <input message='tns:WSCurriculo_getOcorrenciaCVPorUsuario'></input>
   <output message='tns:WSCurriculo_getOcorrenciaCVPorUsuarioResponse'></output>
  </operation>
 </portType>
 <binding name='WSCurriculoBinding' type='tns:WSCurriculo'>
  <soap:binding style='rpc' transport='http://schemas.xmlsoap.org/soap/http'/>
  <operation name='getCurriculoCompactado'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </output>
  </operation>
  <operation name='getCurriculoCompactadoPorUsuario'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </output>
  </operation>
  <operation name='getDataAtualizacaoCV'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </output>
  </operation>
  <operation name='getDataAtualizacaoCVPorUsuario'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </output>
  </operation>
  <operation name='getIdentificadorCNPq'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </output>
  </operation>
  <operation name='getIdentificadorCNPqPorUsuario'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </output>
  </operation>
  <operation name='getOcorrenciaCV'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </output>
  </operation>
  <operation name='getOcorrenciaCVPorUsuario'>
   <soap:operation soapAction=''/>
   <input>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </input>
   <output>
    <soap:body namespace='http://ws.servico.repositorio.cnpq.br/' use='literal'/>
   </output>
  </operation>
 </binding>
 <service name='WSCurriculo'>
  <port binding='tns:WSCurriculoBinding' name='WSCurriculoPort'>
   <soap:address location='https://cnpqwsproxy.ufscar.br:7443/srvcurriculo/WSCurriculo'/>
  </port>
 </service>
</definitions>